CORS_ORIGIN="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"
JWT_SECRET="your_jwt_secret_at_least_64_chars_long"
SEED_ENABLED="true"
SEED_TOKEN="example_seed_token"
SAML_PRIVATE_KEY="your_saml_private_key"
SAML_PUBLIC_CERT="your_saml_public_certificate"