CORS_ORIGIN="http://localhost:5173"
DOMAIN="localhost:5173"
FRONTEND_URL="http://localhost:5173"
PEOPLEVINE_ADMIN_PASSWORD="your_peoplevine_admin_password"
PEOPLEVINE_ADMIN_USERNAME="your_peoplevine_admin_username"
PEOPLEVINE_COMPANY_ID="your_peoplevine_company_id"
SAML_ENTITY_ID="https://example.com/"
SAML_PRIVATE_KEY="your_saml_private_key"
SAML_PUBLIC_CERT="your_saml_public_certificate"
SEED_ENABLED="true"
SEED_TOKEN="example_seed_token"